<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prześlij pliki</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Prześlij pliki</h1>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
            Wybierz pliki
        </label>
        <input id="file-upload" type="file" name="file" multiple accept=".jpg, .jpeg, .png, .gif" onchange="confirmUpload()">
    </form>
    <button onclick="downloadFiles()">Pobierz wszystkie pliki jako ZIP</button>

    <script>
        function submitForm() {
            document.getElementById("upload-form").submit();
        }

        function confirmUpload() {
            if (confirm("Czy na pewno chcesz przesłać te pliki?")) {
                submitForm();
            } else {
                document.getElementById("file-upload").value = "";
            }
        }

        function downloadFiles() {
            window.location.href = "/download";
        }
    </script>
</body>
</html>